:root{
    --yellow: #f9f007;
    --lightyellow: #d9d468;
    --gray: #676767;
    --lightgray: #898989;
    --darkgray: #454545;
    --black: #000000;

    --pixelfont: 'Handjet', cursive;
}
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
/* GRID LAYOUT */
.page-content{
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 65% 25%;
    grid-template-areas: "nav     aside"
                         "section aside"
                         "footer  aside";
    height: 100%;
    width: 100%;
    background: var(--yellow);
}
.page{
    position: relative;
    height: 100vh;
    width: 100%;
}
/* LOADER */
.loader{
    width: 100%;
    height: 100vh;
    background: var(--darkgray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    z-index: 3;
    
    animation: loader 2s linear forwards; 
}
.loader div{
    background: var(--yellow);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    animation: scaling 2s ease-in-out infinite;
}
.loader div:nth-child(1){
    animation-delay: 0.2s;
}
.loader div:nth-child(2){
    animation-delay: 0.4s;
}
.loader div:nth-child(3){
    animation-delay: 0.6s;
}
@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;  
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes scaling {
    0%, 100%{
        transform: scale(0.2);
    }
    40%{
        transform: scale(1);
    }
}
/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 0 0 80px 0;
    margin-right: 30%;
    grid-area: nav;
    box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.4);
}
.navbar-content{
    display: flex;
    /*justify-content: space-evenly;*/
    justify-content: left;
    gap:20px;
    width: 100%;
    padding: 0 0 0 80px;
    align-items: center;
    animation: 2s navbar 0.8s ease-in-out; /* La animación transcurre luego de dos segundos*/
    color: var(--yellow);
    font-family: var(--pixelfont);
}
.navbar-content-card{
    display: flex;
    gap:5px;
}
.navbar-content-card img{
    width: 30px;
}
@keyframes navbar {
    0%{
        transform: translateY(-200px); /*Se desplaza verticalmente ocultandose*/
    }
    100%{
        transform: translateY(0px);  /*Vuelve a su posicion vertical original*/
    }
}
/* MAIN CONTENT */
.main-content{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

    animation: 2s main-content 0.8s ease-in-out;
}
.main-content p:first-child{
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 0 60px;
}
.main-content h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.main-content p:last-child{
    font-weight: 100;
    width: 80%;
    margin: 10px 0 0 40px
}
@keyframes main-content {
    0%{
        transform: translateY(-600px); /*Se desplaza verticalmente ocultandose*/
    }
    100%{
        transform: translateY(0px);  /*Vuelve a su posicion vertical original*/
    }
}
/* SIDE CONTENT */
.side-content{
    display: grid;
    grid-area: aside;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
/*  PROFILE CARD */
.side-content .profilecard{
    width: 100%;
    grid-column: 2/7;
    grid-row: 1/3;
    background: #000000;
    padding-right: 40px;
}
.profilecard-content{

}

.side-content .side-background {
    background-image: url('../assets/background-aside\ II.jpg');
    background-size: auto;
    height: 100%;
    grid-row: 1/3;
    grid-column:   1/9;
    box-shadow: inset 61px -5px 47px -7px rgba(249, 240, 7, 1);
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background: var(--black);
    border-radius: 0 50px 0 0;
    transform: translateY(100%);
    animation-name: footer;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.footer h3{
    font-size:x-large;
    font-family: var(--pixelfont);
    align-self: flex-end;
    color: #d9d468;
}
.footer div img{
    width: 100px;
    position: absolute;
    bottom: 70px;
    /*Permite una transicion suave al estado original cuando se quite el hover*/
    transform: translateY(0px) scale(1);
    transition: transform 0.5s ease-in-out;
}
.footer div:hover img {
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.footer div {
    width: 130px;
    height: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
@keyframes footer {
    0%{
        transform: translateY(100%); 
    }
    100%{
        transform: translateY(0px); 
    }
}
/* MODAL */
.modal {
    /*display: grid;*/ /* Para el manejo adecuado del modal, el display deberia ser manejado por las clases de estado (hidden-visible)*/
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.95);
    position: absolute;
    
    z-index: 4;
}
.modal::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background-aside.png');
    opacity: 0.5; /* Ajusta el valor de opacidad según tus necesidades */
    z-index: -1;
}
.modal-content{
    display: grid;
    background-color: var(--lightgray);
    border: 2px solid yellow;
    border-radius: 50px;
    width: 77%;
    height: auto;
    padding: 15px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "header  header"
                         "photo   textd";
}
.modal-content h1{
    grid-area: header;
    text-align: center;
}
.modal-content-text{
    grid-area: textd;
}
.modal-content-img{
    display: flex;
    grid-area: photo;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.modal-content-img img{
    width: 95%;
}
.modal-content-text
{
    grid-area: textd;
    text-align: justify;
}
.modal-content--close-1, .modal-content--close-2, .modal-content--close-3{
    cursor: pointer;
    position:absolute;
    left: 200px;
}
/* CAROUSEL */
.modal-content--slider{
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
}
.card{
    position: absolute;
    background: var(--color3);
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s ease;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
}
#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3
{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1
{
    transform: translateX(40%) scale(0.8);
    opacity: 0.5;
    z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2
{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.5;
    z-index: 0;
}
.hidden{
    display: none;
}
.visible{
    display: grid;
}